<div class="alert alert-danger" role="alert" *ngIf="errorList!=''">
  Error with: {{errorList.message}}
</div>


<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control" placeholder="First name" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="firstName">
    </div>
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control" placeholder="Last name" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="lastName">
    </div>
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control" placeholder="Username" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="userPrincipalName">
    </div>
    <div class="col-md-3 mb-3">
      <button type="button" class="btn btn-primary" (click)="searchEmployees()">
        <fa-icon [icon]="faSearchIcon"></fa-icon>
      </button>
    </div>
  </div>
</form>


<table class="table table-striped">
  <div class="alert alert-danger" role="alert" *ngIf="errorDetail!=''">
    Error with: {{errorList.message}}
  </div>

  <thead>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Username</th>
      <th scope="col">Office Number</th>
      <th scope="col">Mobile Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees;">
      <td class="clickable" (click)="getEmployeeDescription(employee.id, content)">{{ employee.firstName }}</td>
      <td class="clickable" (click)="getEmployeeDescription(employee.id, content)">{{ employee.lastName }}</td>
      <td class="clickable" (click)="getEmployeeDescription(employee.id, content)">{{ employee.userPrincipalName }}</td>
      <td class="clickable" (click)="getEmployeeDescription(employee.id, content)">{{ employee.officePhone  }}</td>
      <td class="clickable" (click)="getEmployeeDescription(employee.id, content)">{{ employee.mobilePhone  }}</td>
    </tr>
  </tbody>
</table>

<!--div style="text-align: right;">
  <button type="button" class="btn btn-primary" [disabled]="skip==0" (click)="previousPage()">
    <fa-icon [icon]="faChevronLeftIcon"></fa-icon> Previous
  </button>
  Page {{page+1}}
  <button type="button" class="btn btn-primary" (click)="nextPage()">
    Next <fa-icon [icon]="faChevronRightIcon"></fa-icon>
  </button>
</div-->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Employee Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td>
          <b>First name:</b>
        </td>
        <td>
          {{ employeeDescription.firstName }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Last name:</b>
        </td>
        <td>
          {{ employeeDescription.lastName }}
        </td>
      </tr>
      <tr>
        <td>
          <b>User name:</b>
        </td>
        <td>
          {{ employeeDescription.userPrincipalName }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Job title:</b>
        </td>
        <td>
          {{ employeeDescription.jobTitle }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Department:</b>
        </td>
        <td>
          {{ employeeDescription.department }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Office number:</b>
        </td>
        <td>
          {{ employeeDescription.officePhone }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Mobile number:</b>
        </td>
        <td>
          {{ employeeDescription.mobilePhone }}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>